@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #222435;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}
form{
    display: flex;
    width: 600px;
    height: 40px;
    margin: 30px auto;
}

@media screen and (max-width: 900px){
    form{
        width: 100%;
    }
}